  /* Table of content

1)white-border (contains a block with social icons and logo image )
2)banner (contains picture with width 80% and 3 transparent borders(left,right,bottom))
3)navbar(menu)
4)content(an article or some text)
5)sidebar-right(links)
6)flex-block( 3 pictures with frames)
7)flex-form (feedback)
8)footer-box(links and social icons)
9) misc

*/
  
  body {
      background: url(/img/background.jpg) no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: 'PT Serif', serif;
  }
  
  .flex-border {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  
  // 1)white-border 
  .white-border {
      background: snow;
      width: 100%;
      height: 80px;
      box-sizing: border-box;
      margin: 0px;
      top: 0px;
      left: 0px;
      position: fixed;
      @media (max-width: 768px) {
          height: 130px;
      }
      @media (max-width: 479px) {
          height: 170px;
      }
  }
  
  .flex-img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      @media (max-width: 479px) {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
      }
  }
  
  .flex-social {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      @media (max-width: 479px) {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
      }
  }
  
  .social-icon {
      margin-top: -45px;
      @media (max-width: 479px) {
          margin-top: 10px;
      }
      a {
          color: black;
      }
      a:hover {
          background: orange;
          color: white;
      }
  }
  
  //2)navbar
  .navbar-default {
      margin-top: 80px;
      position: fixed;
      border-radius: 0px;
      width: 100%;
      background-attachment: fixed;
      @media (max-width: 991px) {
          margin-top: 80px;
      }
      @media (max-width: 479px) {
          margin-top: 117px;
      }
  }
  
  .navbar-default-fixed {
      margin-top: 0px;
      position: fixed;
      width: 100%;
      background-attachment: fixed;
      @media (max-width: 991px) {
          margin-top: 80px;
      }
      @media (max-width: 479px) {
          margin-top: 85px;
      }
  }
  
  .navbar-nav {
      li:nth-child(1n) {
          padding-right: 5px;
          >a:hover {
              color: white;
              background-color: #FF4A00;
          }
      }
  }
  
  //3)banner
  .flex-banner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  
  .banner {
      background: url('../img/badroom 1.jpeg') no-repeat center;
      background-size: cover;
      border-left: 20px solid rgba(0, 0, 0, .8);
      border-right: 20px solid rgba(0, 0, 0, .8);
      border-bottom: 20px solid rgba(0, 0, 0, .8);
      margin-top: 60px;
      width: 100%;
      &-info {
          padding: 25px;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          min-height: 400px;
          width: 100%;
      }
  }
  
  //4)content
  .flex-content {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
  }
  
  .content-container {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      margin-top: 50px;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  
  .content {
      background: snow;
      color: black;
      width: 65vw;
      @media (max-width: 991px) {
          width: 80vw;
      }
  }
  
  //5)sidebar
  .sidebar-right {
      background: #E0E0E0;
      float: left;
      width: 15vw;
      vertical-align: baseline;
      @media (max-width: 991px) {
          width: 80vw;
      }
      a {
          text-decoration: none;
          color: black;
          font-size: 20px;
          -webkit-transition: .4s ease-out;
          -webkit-transition-delay: 0.5s;
          -o-transition: .4s ease-out;
          -o-transition-delay: 0.5s;
          -moz-transition: .4s ease-out;
          -moz-transition-delay: 0.5s;
          transition: .4s ease-out;
          transition-delay: 0.5s;
      }
      a:hover {
          color: red;
      }
      li {
          list-style-type: none;
          @media (max-width: 991px) {
              text-align: center;
          }
      }
  }
  
  //6)flex-block
  .flex-block {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-top: 30px;
  }
  
  .table-img {
      border: 4px solid rgba(255, 0, 0, .6);
      margin: 24px;
      @media (max-width: 380px) {
          width: 90%;
      }
      >img {
          width: 100%;
      }
      img:hover {
          filter: saturate(265%);
          -webkit-filter: saturate(265%);
          -webkit-transition: all 0.6s ease 0s;
          transition: all 0.6s ease 0s;
      }
  }
  
  //7)flex-form
  form {
      background: rgba(0, 148, 255, .6);
      border-radius: 35px;
      display: block;
      height: 450px;
      margin: 0 auto;
      margin-top: 30px;
      padding-left: 8px;
      padding-right: 15px;
      padding-top: 40px;
      text-align: center;
      width: 400px;
  }
  
  label {
      color: white;
  }
  
  input,
  textarea {
      margin-bottom: 10px;
      padding-top: 10px;
      outline: none;
      width: 350px;
  }
  
  input:focus {
      border: 2px solid dodgerblue;
  }
  
  textarea:focus {
      border: 2px solid dodgerblue;
  }
  
  .btn-default {
      margin-top: 20px;
  }
  
  @media (max-width:478px) {
      form {
          width: 100%;
      }
      input {
          width: 100%;
      }
      textarea {
          width: 100%;
      }
  }
  
  //8)footer-box
  .flex-container2 {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  
  .footer-box {
      background: snow;
      width: 100%;
      height: 160px;
      box-sizing: border-box;
      left: 0px;
      margin-top: 250px;
      position: absolute;
      @media (max-width: 768px) {
          min-height: 210px;
      }
      @media (max-width: 478px) {
          min-height: 250px;
      }
  }
  
  .links-flex {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      @media (max-width: 768px) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          text-align: center;
      }
  }
  
  .links-box {
      font-size: 18px;
      padding-top: 40px;
      text-decoration: none;
      >a {
          color: black;
      }
      a:hover {
          color: #00A5A5;
          text-decoration: none;
      }
      a:nth-child(1n) {
          padding-right: 40px;
          text-decoration: none;
          @media (max-width: 991px) {
              padding-right: 25px;
          }
      }
  }
  
  .flex-social2 {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  
  .social-icon2 {
      margin-top: 20px;
      a {
          color: black;
      }
      a:hover {
          background: orange;
          color: white;
      }
  }
  
  .title-img {
      text-align: center;
      @media (max-width: 991px) {
          img {
              width: 100%;
          }
      }
  }
  
  //9)misc
  #idTop {
      position: fixed;
      z-index: 9999;
      bottom: 0%;
      right: 0%;
      height: 64px;
      width: 64px;
      opacity: .6;
      color: transparent;
      padding: 10px;
      margin: 5px 15px 15px 5px;
  }
  
  #idTop:hover {
      opacity: 1;
  }
  
  #idBottom {
      position: fixed;
      z-index: 9999;
      bottom: 0%;
      right: 0%;
      height: 64px;
      width: 64px;
      opacity: .6;
      color: transparent;
      padding: 10px;
      margin: 5px 15px 55px 5px;
  }
  
  #idBottom:hover {
      opacity: 1;
  }
  
  #main {
      position: relative;
      margin: 100px auto;
      padding: 5px;
      width: 660px;
      height: 360px;
      background: rgba(162, 215, 255, .3);
      button {
          position: absolute;
          top: 150px;
          width: 25px;
          height: 70px;
          font: 12pt arial, tahoma, sans-serif;
          text-align: center;
      }
  }
  /*
        
        .flex-photogallery {
            display: flex;
            justify-content: center;
        }
        
        #scr {
            margin: 20px auto;
            width: 600px;
            height: 320px;
            margin-top: 20px;
            background-color: white;
            background-size: cover;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
        
        .left {
            left: 5px;
        }
        
        .right {
            right: 5px;
        }

        */